<div class="relative h-32 w-80 rounded bg-gray-100 drop-shadow-lg p-1 m-4">

  <div class="absolute top-1 left-1 w-20 h-20">
    <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" class="w-20 h-20 object-contain">
  </div>
  <h1 class="absolute left-20 text-xl">Product Title</h1>
  <p class="absolute left-20 top-6 text-sm text-gray-500">Men's clothing</p>
  <p class="absolute left-1 top-20 h-12 overflow-auto">lorem ipsum soidfa safdoiosid foa sfdaoif asfooisfda oif oias foi fsdaoi fsoisfd  sfaoifoi oifoi asadf</p>

  <div class="absolute top-1 right-2 flex flex-row ">
    <p class="text-gray-500">$100.01</p>
    <p class="mx-1 p-1 bg-yellow-200 rounded-full text-xs">3.9</p>
  </div>
  <div class="absolute top-4 right-2 flex flex-row text-xs">
    <p class="p-2 text-gray-500">120 ratings</p>
  </div>
</div>


