<div class="relative h-32 w-80 rounded bg-gray-100 drop-shadow-lg p-1 m-4">

  <div class="absolute top-1 left-1 w-20 h-20">
    <img [src]="product.image" class="w-20 h-20 object-contain">
  </div>
  <h1 class="absolute left-20 pl-2 text-xl h-8 w-36 overflow-hidden">{{product.title}}</h1>
  <p class="absolute left-20 pl-2 top-6 text-sm text-gray-500">{{product.category}}</p>
  <p class="absolute left-1 top-20 h-12 overflow-auto">{{product.description}}</p>

  <div class="absolute top-1 right-2 flex flex-row ">
    <p class="text-gray-500">${{product.price}}</p>
    <p class="mx-1 p-1 bg-yellow-200 rounded-full text-xs">{{product.rating.rate}}</p>
  </div>
  <div class="absolute top-4 right-2 flex flex-row text-xs">
    <p class="p-2 text-gray-500">{{product.rating.count}} ratings</p>
  </div>
</div>
