<div *ngIf="isLoading">
  <h1 class="text-center text-8xl text-blue-800">Loading...</h1>
</div>

<div *ngIf="!isLoading">
  <div class="flex flex-row h-screen">
    <div class="dashboard-cards-w h-full bg-gray-200">
      <h1 class="p-2 text-xl text-center text-gray-500 font-bold border-b border-gray-300">Dashboard</h1>
      <app-total-products [total]="products.length"></app-total-products>
    </div>
    <div class="products-w">
      <app-products-list [products]="products"></app-products-list>
    </div>
  </div>
</div>
